@import "components/colors.scss";

.result-info-wrapper {
    box-sizing: border-box;
    padding-top: 3.4rem;
    width: 12.5rem;
    height: 12.5rem;
    background: linear-gradient($violet-blue-circle, $persian-blue-circle);
    border-radius: 50%;

    .result {
        margin: 0;
        color: $pale-blue;
        font-size: 4.3rem;
        line-height: 4.8rem;
        font-weight: 700;
    }

    .score {
        font-size: 1.2rem;
        margin: 0;
        color: $light-lavender;
    }
}

@media only screen and (max-width: 425px) {
    .result-info-wrapper {
        padding-top: 1.9rem;
        width: 9rem;
        height: 9rem;

        .result {
            font-size: 3.5rem;
            line-height: 4rem;
        }

        .score {
            font-size: 1rem;
        }
    }
}
