@import "components/colors.scss";

.results-wrapper {
    box-sizing: border-box;
    grid-template-rows: auto auto auto;
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    padding: 1rem 2rem 2rem;
    text-align: center;
    border-radius: 2rem;
    background: linear-gradient(
        $light-slate-blue-background,
        $light-royal-blue-background
    );

    .heading {
        color: $light-lavender;
        font-weight: 700;
        font-size: 1.5rem;
        margin-block-end: 0;
    }

    .analysis-wrapper {
        .analysis {
            color: $pale-blue;
            font-weight: 700;
            font-size: 2rem;
            margin: 0;
        }
        .description {
            margin: 15px auto;
            width: 80%;
            color: $light-lavender;
        }
    }
}
