@font-face {
    font-family: "Hanken";
    src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Hanken";
    src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Hanken";
    src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
    font-weight: 900;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
